.color-card {
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 700;
    font-size: 0.85rem;
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 0 12px;
}

.color-card div {
    line-height: 1.1;
}

.colors-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding:0;
}