.main {
    flex: 1;
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    overflow: hidden;
    padding: 1rem 1rem 0 1rem;
    max-width: var(--max-width-container);

    background: var(--color-bg-main);
    backdrop-filter: var(--glass-blur);
    transition: var(--transition-all);
    border: var(--border);
    border-radius: var(--border-radius);
}

.main:hover {
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .main {
        padding: 1.5rem;
        margin-bottom: 8px;
    }
}