.app-colors {
  padding: 3rem 1.5rem 2rem;
  width: 100%;
  max-width: var(--max-width-container);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-area {
  position: relative;
  max-width: 360px;
  margin: 0.5rem auto 0.5rem;
  min-height: 50px;
}

.empty-state {
  width: 320px;
  height: 80px;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-empty-state);
  border-radius: var(--border-radius);
  border: var(--border-empty-state);
  color: var(--color-text-light);
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .input-area {
    margin: 0.25rem auto 0.25rem;
  }
}