.app-colors {
  padding: 3rem 1.5rem 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-area {
  position: relative;
  max-width: 360px;
  margin: 0.5rem auto 0.5rem;
  min-height: 50px;
}

.plus-toggle-btn {
  position: absolute;
  top: -15px;
  right: 10px;
  z-index: 10;
  width: 52px;
  height: 52px;
  background: var(--color-bg-plus-toggle-btn);
  backdrop-filter: blur(12px);
  border: var(--border-button);
  border-radius: 16px;
  color: white;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--box-shadow-plus-toogle-btn);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-toggle-btn:focus {
  outline: none;
}

.plus-toggle-btn:focus-visible {
  outline: var(--outline-plus-toogle-btn);
}

.plus-toggle-btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-plus-toogle-btn-hover);
  background: var(--color-bg-plus-toogle-btn-hover);
}

.empty-state {
  width: 320px;
  height: 80px;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-empty-state);
  border-radius: 28px;
  border: var(--border-empty-state);
  color: var(--color-text-light);
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .input-area {
    margin: 0.25rem auto 0.25rem;
  }
  .plus-toggle-btn {
    right: 8px;
    width: 56px;
    height: 56px;
    font-size: 2.1rem;
    border-radius: var(--border-radius);
  }
}