body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

.app-colors {
  padding: 3rem 1.5rem 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
