@import "Components/General/global.css";
@import "Components/General/header.css";
@import "Components/General/main.css";
@import "Components/General/footer.css";
@import "Components/General/buttons.css";

